@import '~antd/dist/antd.css';

#calc {
  display: block;
  margin: 0 auto;
  margin-bottom: 36px;
}
.ant-layout-header {
  color: white;
}
.ant-layout-content {
  min-height: calc(100vh - 64px - 69px);
  padding-top: 64px;
  padding-bottom: 64px;
}
.ant-table-wrapper {
  margin-top: 36px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
